KalipApp/Connected Services/KalipServiceReference1/KalipService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63650/KalipService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KalipServiceWCF" />
  <xs:element name="getAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="getAllResult" nillable="true" type="q1:ArrayOfNumune" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="urunkodu" type="xs:int" />
        <xs:element minOccurs="0" name="parcakodu" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="FindResult" nillable="true" type="q2:Numune" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUrunKod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="urunkodu" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUrunKodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="FindUrunKodResult" nillable="true" type="q3:ArrayOfNumune" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="numune" nillable="true" type="q4:Numune" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="numune" nillable="true" type="q5:Numune" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="FindByDateResult" nillable="true" type="q6:ArrayOfNumune" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PieChartDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baslangic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bitis" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PieChartDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="PieChartDateResult" nillable="true" type="q7:ArrayOfprcPieChartOnlyDate_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PieChart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baslangic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bitis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parca" type="xs:int" />
        <xs:element minOccurs="0" name="kalip" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PieChartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="PieChartResult" nillable="true" type="q8:ArrayOfprcPieChart_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="numune" nillable="true" type="q9:NumuneDetay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="numune" nillable="true" type="q10:NumuneDetay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="urunkodu" type="xs:int" />
        <xs:element minOccurs="0" name="parcakodu" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="FindDetailResult" nillable="true" type="q11:NumuneDetay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="procAylikSatisOrani">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baslangic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bitis" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="procAylikSatisOraniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KalipServiceWCF" minOccurs="0" name="procAylikSatisOraniResult" nillable="true" type="q12:ArrayOfNumuneTariheGoreSatisOranları_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>