KalipApp/Connected Services/KalipServiceReference1/KalipService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KalipServiceWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KalipServiceWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNumune">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Numune" nillable="true" type="tns:Numune" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNumune" nillable="true" type="tns:ArrayOfNumune" />
  <xs:complexType name="Numune">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="KalipKodu" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumuneAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarih" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UrunKodu" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Numune" nillable="true" type="tns:Numune" />
  <xs:complexType name="ArrayOfprcPieChartOnlyDate_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="prcPieChartOnlyDate_Result" nillable="true" type="tns:prcPieChartOnlyDate_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfprcPieChartOnlyDate_Result" nillable="true" type="tns:ArrayOfprcPieChartOnlyDate_Result" />
  <xs:complexType name="prcPieChartOnlyDate_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tarih" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="prcPieChartOnlyDate_Result" nillable="true" type="tns:prcPieChartOnlyDate_Result" />
  <xs:complexType name="ArrayOfprcPieChart_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="prcPieChart_Result" nillable="true" type="tns:prcPieChart_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfprcPieChart_Result" nillable="true" type="tns:ArrayOfprcPieChart_Result" />
  <xs:complexType name="prcPieChart_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tarih" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="prcPieChart_Result" nillable="true" type="tns:prcPieChart_Result" />
  <xs:complexType name="NumuneDetay">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaskiSuresi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CikanParcaMiktarı" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hammadde" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KalipBoyutu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KalipGozu" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="KalipKodu" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumuneAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParcaAgirligi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResimURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TedarikciFirma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrunKodu" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NumuneDetay" nillable="true" type="tns:NumuneDetay" />
  <xs:complexType name="ArrayOfNumuneTariheGoreSatisOranları_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NumuneTariheGoreSatisOranları_Result" nillable="true" type="tns:NumuneTariheGoreSatisOranları_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNumuneTariheGoreSatisOranları_Result" nillable="true" type="tns:ArrayOfNumuneTariheGoreSatisOranları_Result" />
  <xs:complexType name="NumuneTariheGoreSatisOranları_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumuneAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tarih" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NumuneTariheGoreSatisOranları_Result" nillable="true" type="tns:NumuneTariheGoreSatisOranları_Result" />
  <xs:complexType name="Uye">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeniHatirla" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Uye" nillable="true" type="tns:Uye" />
</xs:schema>